.gomide-toolbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #34495e;
  color: #95a5a6;
  /* height: 50px; */
  font-size: calc(1vw + 1vh + 1vmin);
  font-weight: bold;
  text-align: center;
  font-family: 'Consolas';
}
