.turnosCargos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.panelRight {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.grow1 {
  /* display: flex; */
  /* flex-grow: 1; */
  width: 10%;
  margin-left: 10px;
}

.grow4 {
  /* display: flex; */
  /* flex-grow: 4; */
  width: 90%;
  margin-right: 10px;
}

.box {
  width: 50px;
  height: 50px;
  background-color: yellow;
}

.h1 {
  text-align: center;
  font-family: Consolas;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: sans-serif;
}
