.gomide-title {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c3e50;
  color: #95a5a6;
  /* height: 50px; */
  font-size: calc(1.2vw + 1.2vh + 1.2vmin);
  font-weight: bold;
  text-align: center;
  font-family: 'Consolas';
}
